@import url('../form/__title/form__title.css');
@import url('../form/__field/form__field.css');
@import url('../form/__input/form__input.css');
@import url('../form/__input/_name/form__input_name.css');
@import url('../form/__button/form__button.css');
.form-cards {
    display: flex;
    flex-direction: column;
    padding: 34px 36px 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-right: 41px;
}