.profile__button {
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s ease;
}
.profile__button:hover {
    opacity: 0.6;
}