@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');
@import url('./__button/profile__button.css');
@import url('./__button/_add/profile__button_add.css');
@import url('./__button/_edit/profile__button_edit.css');
.profile {
    max-width: 882px;
    display: flex;
    margin: 40px auto 0;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
}